

.container {
  background-image: url('./images/table-background.jpeg');
}

.header {
  display: flex;
  height: 100px;
  background-color: #5a2a27;
}

nav {
  display:flex;
}

.nav-bar {
  list-style: none;
  display: flex;
  color:#c4bbaf;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1px;
  cursor: pointer;
}

.nav-bar li {
  font-family: Zilla Slab;
  padding: 1em;
  display: flex;
  align-items: flex-end;
}


h1 {
  color:#c4bbaf;
  display: flex;
  align-items: flex-end;
  font-family: Pacifico;
  letter-spacing: .1em;
  margin-bottom: .1em;
  margin-left: 5em;
  font-size: 40px;

}

.category-bar {
  display: flex;
  justify-content: space-around;
  background-image:url("./images/table-background.jpeg");
  padding-top: 2em;
}


.category-bar button {
  font-family: Pacifico;
  border: solid 2px #5c4742;
  font-size: 30px;
  padding: 0;
  height: auto;
  width: 8em;
  margin-bottom: 1em;
  object-fit: contain;
  background-color: #8d5b4c;
}

.category-bar button:hover {
  cursor: pointer;
  color:white;
}

.container {
  display:flex;
  font-family: Zilla Slab;
  
}

.menu-section {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.menu-item {
  list-style: none;
  display:flex;
  flex-direction: column;
  border: solid 2px #5c4742;
  padding: 5px;
  margin-right: 1em;
  background-color: #c4bbaf;
}

.menu-item p {
  display:flex;
  margin: 0;
  
}

.menu-item h3 {
  margin: 0;
}

.menu-item button {
  height: 30px;
  width: 90px;
  align-items: center;
  font-family: Pacifico;
  cursor: pointer;
}

.order-panel {
  display:flex;
  flex-direction: column;
  width: 35%;
  height: 35%;
  background-color: #8d5b4c;
  padding: 1em;
  border: solid 2px #5c4742;
  margin-top: 1em;
  margin-right: 2em;
  font-weight: bold;
}

.added-item {
  padding:0;
  margin-bottom: 10px;
  height: 15px;
}

.submit-order {
  font-family: Pacifico;
  cursor: pointer;
}

#subtotal {
  font-size: 22px;
  margin: 30px 10px 10px 10px;
}

.pic-ribbon {
  display:flex;

}

.basil {
  background-image: url('./images/basil.jpeg');
  background-position: center center;
  background-size: 100%;
  
} 

.spaghetti {
  background-image: url('./images/spaghetti.jpeg');
  background-position: center center;
  background-size: 100%;
} 

.cannoli {
  background-image: url('./images/cannoli.jpeg');
  background-position: center center;
  background-size: 100%;
}

.espresso {
  background-image: url('./images/espresso2.jpeg');
  background-position: center center;
  background-size: 100%;
}